
{% extends "pollution/base.html" %}

{% block title %}Pollution stations{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% load widget_tweaks %}


<section class="section">
    <div class="container">
        <div class="columns">
           


            <div class="column is-one-quarter ">
                <form method="POST">
                    {% csrf_token %}
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            {{ form.city_name }}
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-info" name ="add_city_button">
                                Add City
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- POST for pollution -->
            <div class="column is-two-fifths ">
                <form method="POST">
                    {% csrf_token %}
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            <!-- {{ form.city_latitude }} -->
                            {% render_field form.city_latitude class="input" placeholder="Station latitude" %}
                        </div>
                        <div class="control is-expanded">
                            <!-- {{ form.city_longitude }} -->
                            {% render_field form.city_longitude class="input" placeholder="Station longitude" %}
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-info" name ="add_station_button">
                                Add Station
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- <a class="btn btn-primary" href="/admin">Text redirect</a> -->
            <!-- <div class="column  ">
                <button class="button is-success"><a href="/pollution/custom"> <dfn data-info="Get data from your custom stations">Custom</dfn></a></button>

            </div> -->

            <div class="column  ">
                <a href="/logout">
                    <button type="submit" class="button is-info" >Logout</button>	
                </a>
                <p>Logged in as {{request.user.username}}</p>
            </div>
            <!-- <input type="checkbox" id="scales" name="scales" checked> -->
        </div>



   

</section>
<section class="section">
    <div class="container">
        <div class="columns" >
            <div class="column is-offset-4 is-4">
                {% for pollution_city in weather_data %}
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <!-- <figure class="image is-50x50">
                                <img src="http://openweathermap.org/img/w/{{ pollution_city.icon }}.png" alt="Image">
                            </figure> -->
                            <br>
                        </div>
                        <div class="media-content">
                           
                        
                            <!-- <div class="content" style="border-radius: 10px;
                            border: 1px solid rgb(83, 82, 82);">  -->
                            <div class="content p-3" style="border-radius: 10px; background-color: {{ pollution_city.color }};"> 

                                <p>
                                    
                                    <span class="title">{{ pollution_city.city_name }}</span>
                                        
                                    <span class="icon is-right is-medium has-text-dark " style="float: right">
                                      <a href="/pollution/deleteCity/{{ pollution_city.id }}"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                                    </span>
                                   
                                    <br>
                                  
                                    Station Lat: {{ pollution_city.city_latitude }} Lng: {{ pollution_city.city_longitude }}
                                    
                                    <br>
                                    <!-- <span class="subtitle">ID: {{ pollution_city.id }}</span> -->

                                    <span class="subtitle">Temperature: {{ pollution_city.temperature }} °C</span>
                                    <br>
                                    <span class="subtitle">Humidity: {{ pollution_city.humidity }} %</span>

                                    <br>
                                    <span class="subtitle">PM 2.5: {{ pollution_city.pm2_5 }} µg/m^3</span>
                                    <br>
                                    <span class="subtitle">PM 10: {{ pollution_city.pm10 }} µg/m^3</span>

                                    <br> {{ pollution_city.description }}
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}




							