{% extends "pollution/base.html" %}

{% block title %}Pollution stations{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% load widget_tweaks %}




    <section class="section">
        <div class="container">
            <div class="columns">
                
                 <!-- POST for pollution -->
                 <div class="column is-half">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <!-- {{ form.city_latitude }} -->
                                {% render_field form.station_ip class="input" placeholder="Station ip" %}
                            </div>
                            <div class="control is-expanded">
                                <!-- {{ form.city_longitude }} -->
                                {% render_field form.station_port class="input" placeholder="Station port" %}
                            </div>
                            <div class="control">
                                <button type="submit" class="button is-info" name ="add_station_button">
                                    Add Station
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                 <!-- <a class="btn btn-primary" href="/admin">Text redirect</a> -->
                <!-- <div class="column is-1 is-offset-1">
                    <button class="button is-primary"><a href="/pollution"> <dfn data-info="Get data from public stations">Basic</dfn></a></button>

                    
                </div> -->

                <div class="column ">
            
                    <a href="/logout">
                        <button type="submit" class="button is-info" >Logout</button>	
                     </a>
                     <p>Logged in as {{request.user.username}}</p>
                     </div>
                    <!-- <input type="checkbox" id="scales" name="scales" checked> -->
                </div>

                </div>
            </div>
            
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns" >
                <div class="column is-offset-4 is-4">
                    {% for pollution_custom_station in weather_data_custom %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <!-- <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ pollution_city.icon }}.png" alt="Image">
                                </figure> -->
                                <br>
                            </div>
                            <div class="media-content">
                               
                                <!-- TODO: implement background-color based on air quality -->
                                <div class="content  p-3" style="border-radius: 10px; background-color: {{ pollution_custom_station.color }};"> 
                                    <p>
                                        <span class="title">{{ pollution_custom_station.city_name }}</span>
                                        <!-- <span class="title">Station ID: {{ pollution_custom_station.id }}</span> -->
                                        <span class="icon is-right is-medium has-text-dark " style="float: right">
                                            <a href="/pollution/custom/deleteStation/{{ pollution_custom_station.id }}"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                                        </span>
                                         
                                        <br>
                            
                                        Station ip: {{ pollution_custom_station.station_ip }}:{{ pollution_custom_station.station_port }}
                                     
                                        <br>
                                        <span class="subtitle">Temperature: {{ pollution_custom_station.temperature }} °C</span>
                                        <br>
                                        <span class="subtitle">Humidity: {{ pollution_custom_station.humidity }} %</span>

                                        <br>
                                        <span class="subtitle">PM 2.5: {{ pollution_custom_station.pm2_5 }} µg/m^3</span>
                                        <br>
                                        <span class="subtitle">PM 10: {{ pollution_custom_station.pm10 }} µg/m^3</span>

                                        <br> {{ pollution_custom_station.description }}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}