<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" />
</head>

<body>
    <section class="hero is-dark"> 
        <!-- is-info also cool -->
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    What's the weather like?
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third is-offset-one-fifth">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                {{ form.name }}
                            </div>
                            <div class="control">
                                <button type="submit" class="button is-info" name ="add_city_button">
                                    Add City
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- POST for pollution -->
                <div class="column is-one-third ">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                {{ station_form.station_name }}
                            </div>
                            <div class="control">
                                <button type="submit" class="button is-info" name ="add_station_button">
                                    Add Station
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
               
                
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third is-offset-one-fifth">

                    {% for city_weather in weather_data %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ city_weather.city }}</span>
                                        <br>
                                        <span class="subtitle">Temperature: {{ city_weather.temperature }} °C</span>
                                        <br>
                                        <span class="subtitle">Humidity: {{ city_weather.humidity }} %</span>
                                        <br> {{ city_weather.description }}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    {% endfor %}


                </div>


                <!-- Column for pollution stations -->
                <div class="column is-one-third">

                    {% for city_weather in weather_data %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ city_weather.city }}</span>
                                        <br>
                                        <span class="subtitle">Temperature: {{ city_weather.temperature }} °C</span>
                                        <br>
                                        <span class="subtitle">Humidity: {{ city_weather.humidity }} %</span>
                                        <br> {{ city_weather.description }}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    {% endfor %}


                </div>                
            </div>
        </div>
    </section>
<!--     
    <footer class="footer">
    </footer> -->
</body>

</html>