

{% extends "pollution/base.html" %}

{% block title %}Create an Account{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<div class="modal" id="myModal_register">
	<div class="modal-background">
	</div>
	<div class="modal-card" id="myModal_register">
		<header class="modal-card-head" id="myModal_register">
			<p class="modal-card-title">How to get your API key</p>
			<button class="delete" aria-label="close" data-bulma-modal="close"></button>
		</header>
		<section class="modal-card-body">
	
			
				<div class = "content has-text-black">
					<p>In order to use the application you will have to provide your own API key from airly.com site</p>
					
					<h3>1. Register on airly service <a href="https://developer.airly.org/register">here</a></p> </h3>
					<p>
						In field USAGE DESCRIPTION you can write:
						<br>
						"Creating application that uses data from stations on airly.com service. "
						<p class="image ">
							{% load static %}
							<img src="{% static '/pollution/airly_registration_form.png' %}" alt="My image">
						</p>
					</p>
					
					<h3>2. Click activation link that was sent to your email
						<p class="image ">
							{% load static %}
							<img src="{% static '/pollution/airly_mail_activation.png' %}" alt="My image">
						</p>
						
					</h3>
					
					<h3>3. Get your API key <a href="https://developer.airly.org/docs">here</a></p> </h3>
					<p> 
						
						<p class="image ">
							{% load static %}
							<img src="{% static '/pollution/airly_api_site.png' %}" alt="My image">
						</p>
						Paste your API key in Api key* form on this site

					</p>

			
		

				</div>
			
		</section>

		

		<footer class="modal-card-foot">
		<!-- <button class="button is-success">Save changes</button> -->
		<button class="button is-success" data-bulma-modal="close">Ok</button>
		</footer>
	</div>
</div>



<div class="column is-half is-offset-one-quarter">
    <div class="content p-1 " >   
        <p>
			<form method="POST" class="form-group">
			{% csrf_token %}
			{{ u_form|crispy }}
			<button id="modal_button_register" class = "button is-primary">How to get your API key</button>
			{{ p_form|crispy }}
			
			<p>Already have an accoount? Log in <a href="/login">here</a></p>
			<button type="submit" class="button is-info">Register</button>
			</form>
		</p>    
	</div>
</div>






{% endblock %}





							